# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
package-lock.json.bak
yarn-error.log

# Expo & Builds
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds & credentials
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native generated folders (falls EAS Build / Prebuild genutzt wird)
# android/
# ios/

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS & Editor files
.DS_Store
*.pem
.vscode/
.idea/
Thumbs.db